name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
    
      - name: Install Make
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Install Go 1.24.6
        run: |
          wget https://go.dev/dl/go1.24.6.linux-amd64.tar.gz
          sudo rm -rf /usr/local/go
          sudo tar -C /usr/local -xzf go1.24.6.linux-amd64.tar.gz
          echo "/usr/local/go/bin" >> $GITHUB_PATH

      - name: Check Go version
        run: go version

      - name: Set up Docker
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Tear down any existing containers
        run: docker-compose -f docker-compose.yml down

      - name: Set up Docker Compose
        run: docker-compose -f docker-compose.yml up -d mongo

      - name: Run Tests
        run: make test